* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.container {
   
 width: 600px;
}

.row {
    display: flex;
    
}
.row1 {height: 200px;}
.row2 {height: 20px;}
.row3 {height: 35px;}

.row1 .small {
    flex: 1;
}

.row1 .large {
   flex: 3;
}


.row2 div {
    flex-grow: 1;
    height: 50px;
}


.row3 .x-small {
flex: 1;
}

.row3 .small {
    flex: 3;
}

.row3 .large {
  flex: 2;
}


.color1 { background-color: red; }
.color2 { background-color: blue; }
.color3 { background-color: green; }
.color4 { background-color: orange; }
.color5 { background-color: purple; }
.color6 { background-color: yellow; }
.color7 { background-color: pink; }
.color8 { background-color: cyan; }
.color9 { background-color: brown; }
.color10 { background-color: gray; }
.color11 { background-color: lime; }
.color12 { background-color: magenta; }
.color13 { background-color: teal; }
